@media (max-width: 1000px) {
	:root {
		font-size: 8px;
	}
}
@media (max-width: 800px) {
	
	.container {
		row-gap: 8rem;
	}
	.section {
		grid-template-columns: 1fr;
	}
	.bio__pic--content {
		grid-row: 1;
		justify-self: center;
		margin-bottom: 4rem;
	}
	.skills__list {
		grid-template-columns: repeat(2, 1fr);
	}
	.projects {
		margin-bottom: 12rem;
	}
	.projects__listItems {
		grid-template-columns: 1fr;
		row-gap: 6rem;
		justify-items: center;
	}
	.projects__listItems:nth-of-type(2) .projects__itemImage {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.my-clients {
		margin-bottom: 12rem;
	}
	.clients__opinions {
		font-size: var(--font-size-24);
	}
	.contact {
		row-gap: 6rem;
	}
	.contact__formContent {
		grid-row: 1/2;
	}
}
@media (max-width: 500px) {
	.header {
		padding: 0;
	}
	.bio__pic {
		width: 100%;
	}
	.burger-menu {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		gap: 7.5px;
		align-self: center;
	}
	.burger-menu__bar {
		height: 3px;
		width: 43.75px;
		background-color: var(--color-text);
		transition: var(--transition-timing);
	}
	
	.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
		transform: translateY(10px) rotate(40deg);
	}
	.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
		opacity: 0;
		visibility: hidden;
	}
	.header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
		transform: translateY(-10px) rotate(-40deg);
	}
	.burger-menu__checkbox:checked + .navigation {
		top: 100%;
	}
	.navigation {
		position: absolute;
		width: 100%;
		// width: 100vw;
		top: 0;
		padding: 3rem 0;
		border-bottom: 0.1rem solid var(--color-text);
		z-index: -3;
	}
	
	.navigation__list {
		justify-content: center;
	}
	.toggle {
		padding: 3rem 0;
	}	
	:root {
		font-size: 7px;
	}
	
}
@media (max-width: 320px) {
	:root {
		font-size: 6px;
	}
}